*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h4 {
    text-align: center;
}

.container {
    width: 60%;
    height: 300px;
    margin: 10% 20%;
    padding: 2rem 2rem;
    background-color: aqua;
}

.row_top {
    background-color: aquamarine;
    padding: 1rem;
    margin-bottom: 2rem;
}

.inputs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.genera {
    margin-right: 0.5rem;
}

/* end row top */

.row_bottom {
    background-color: aquamarine;
    padding: 1rem;
    display: flex;
    justify-content: center;
}