*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.row_bottom h4 {
    text-align: left;
    padding-bottom: 2rem;
}

/* end utilitis */

.container {
    padding: 1rem 2rem;
    background-color: aqua;
}

.row_top {
    background-color: red;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.userAge {
    width: 165px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.genera {
    margin-right: 0.5rem;
}

/* end row top */

.container_bottom {
    background-color: rgb(78, 255, 47);
    border-radius: 10px;
    padding: 1rem;
}

.row_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
/* end container / row bottom */

